<body ng-app="app" ng-control="AppCtrl">
<ion-view title="Create Event">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input item-select">
              <span class="input-label">Select Organization</span>
                <select>
                  <option>Bike Santa Cruz</option>
                  <option>Coastal WaterShed</option>
                  <option>California Rural Legal Assistance, Inc.</option>
                  <option>Day Worker's Center</option>
                </select>
          </label>

            <label class="item item-input">
                <input type="text" placeholder="Name of event ">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="description">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Location">
            </label>
            <label class="item item-input">
                <input type="text"  placeholder="Phone #">
            </label>
            <label class="item item-input">
                <input type="text"  placeholder="Email">
            </label>
        </form>
        <button type="submit" class="button button-small" style= "color:PaleVoiletRed;">
          Submit!</button>
    </ion-content>
</ion-view>
</body>
