<ion-view title="Edit Organization" style="text-align: center">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" ng-click='upload()'></i>
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name of Organization">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Address">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Mission Statement">
            </label>
            <a href="#/home-menu/home" class="button button-royal button-block ">Save</a>
        </form>
    </ion-content>
</ion-view>
