<ion-view title="Forgot Password">
  <body>
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <button class="button button-rgb(230,0,10); button-block ">Reset password</button>
        </form>
    </ion-content>
  </body>
</ion-view>
