<body ng-app="app" ng-controller="AppCtrl">
<ion-view title="Home"style= "background-color:#4682B4;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="text-align:center;">
                <img src="img/QZ3jBL99THS0S3i5eT8r_images" width="75" height="auto">
            </div>
            <h3>
                <center>Event Feed</center>
            </h3>

            <div id="list">
            <a class="item item-thumbnail-left" href="#">
              <img src="img/bikesc.png">
              <h2>Bike Santa Cruz</h2>
              <p><b>Event:</b> Bike pool</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/coastWS.png">
              <h2>Coastal WaterShed</h2>
              <p><b>Event:</b> San Lorenzo Lighting Ceremony</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/dwclogo.jpg">
              <h2>Day Worker Center</h2>
              <p><b>Event:</b> Family Connection Project / Proyecto Conexion Familiar</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/crla.jpg">
              <h2>California Rural Legal Assistance, Inc.</h2>
              <p><b>Event:</b> Language access presentation by Program Director Maureen Keffer</p>
            </a>

          </div>
        </div>
        </form>
    </ion-content>
</ion-view>
</body>
