<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="text-align:center;">
                <img src="img/QZ3jBL99THS0S3i5eT8r_images" width="50" height="auto">
            </div>
            <h3>
                <center>Heading</center>
            </h3>
            <div class="spacer" style="width: 303px; height: 24px;"></div>
            <ion-item class="item-thumbnail-left">
                <img src="img/RELSDVlYRfqW58FXFmps_cyber-slug.gif">
                <h2>Org Name</h2>
                <p>swag</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/RELSDVlYRfqW58FXFmps_cyber-slug.gif">
                <h2>Org Name</h2>
                <p>*text post*</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>