<body ng-app="app" ng-controller="AppCtrl",style = "background-color : #8B008B;">
<ion-view title="BridgeNP" style="text-align: center">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="text-align:center;">
                <i class="ion-heart"style="font-size: 128px; color: rgb(255, 0, 0); vertical-align: middle;"></i>
            </div>
            <h3>
                <center>Events from Nonprofit Organizations You Follow!</center>
            </h3>

            <div id="list">

            <div class="card" ng-repeat="message in messages | orderBy:&apos;-time&apos;">
            <div class="item item-text-wrap">
              <span style="font-weight: bold;">{{event.text}}</span>:
            </div>
            </div>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/bikesc.png">
              <h2>Bike Santa Cruz</h2>
              <p><b>Event:</b> Bike pool</p>
              <p><b>Date:</b> Feb. 3rd, 2016</p>
              <p>{{event.text}}</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/coastWS.png">
              <h2>Coastal WaterShed</h2>
              <p><b>Event:</b> San Lorenzo Lighting Ceremony</p>
              <p><b>Date:</b> Feb. 16th, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/dwclogo.jpg">
              <h2>Day Worker Center</h2>
              <p><b>Event:</b> Family Connection Project / Proyecto Conexion Familiar</p>
              <p><b>Date:</b> Feb. 3rd, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/dwclogo.jpg">
              <h2>Day Worker Center</h2>
              <p><b>Event:</b> Family Connection Project / Proyecto Conexion Familiar</p>
              <p><b>Date:</b> Feb. 5th, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/crla.jpg">
              <h2>California Rural Legal Assistance, Inc.</h2>
              <p><b>Event:</b> Language access presentation by Program Director Maureen Keffer</p>
              <p><b>Date:</b> Feb. 1st, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/coastWS.png">
              <h2>Coastal WaterShed</h2>
              <p><b>Event:</b> San Lorenzo Lighting Ceremony</p>
              <p><b>Date:</b> Feb. 2nd, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/dwclogo.jpg">
              <h2>Day Worker Center</h2>
              <p><b>Event:</b> Family Connection Project / Proyecto Conexion Familiar</p>
              <p><b>Date:</b> Feb. 28th, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/crla.jpg">
              <h2>California Rural Legal Assistance, Inc.</h2>
              <p><b>Event:</b> Language access presentation by Program Director Maureen Keffer</p>
              <p><b>Date:</b> Feb. 11th, 2016</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/bikesc.png">
              <h2>Bike Santa Cruz</h2>
              <p><b>Event:</b> Bike pool</p>
              <p><b>Date:</b> Feb. 3rd, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/coastWS.png">
              <h2>Coastal WaterShed</h2>
              <p><b>Event:</b> San Lorenzo Lighting Ceremony</p>
              <p><b>Date:</b> Feb. 18th, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/dwclogo.jpg">
              <h2>Day Worker Center</h2>
              <p><b>Event:</b> Family Connection Project / Proyecto Conexion Familiar</p>
              <p><b>Date:</b> Feb. 5th, 2016</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
              <img src="img/crla.jpg">
              <h2>California Rural Legal Assistance, Inc.</h2>
              <p><b>Event:</b> Language access presentation by Program Director Maureen Keffer</p>
              <p><b>Date:</b> Feb. 1st, 2016</p>
            </a>


          </div>
        </div>
        </form>
    </ion-content>
</ion-view>
</body>
