<body ng-app="app" ng-control="AppCtrl">
<ion-view hide-back-button="false" title="Nonprofits Near Me">

    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <meta charset="utf-8">
    <title>Non-profits Near Me</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

    <!-- google maps javascript -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- maps javascript -->
    <script src="js/maps.js"></script>

    <ion-content>
      <iframe width="2000" height="1000" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=12&center=36.9741%2C-122.0308&key=AIzaSyDystyv7H4u-ubDrYMWTNmrIb9fPVgH9A0" allowfullscreen></iframe>
    </ion-content>
    <ion-footer-bar class="bar-stable">
    <button class="button" ng-click="$ionicGoBack()">Back</button>
    </ion-footer-bar>

</ion-content>
</ion-view>
