<html ng-app="ionic.example">
<head>
  <title>Non-profits Near Me</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<body ng-controller="MapCtrl">
    <ion-header-bar class="bar-stable" >
      <h1 class="title">Non-profits Near Me</h1>
    </ion-header-bar>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Where Am I?</a>
    </ion-footer-bar>

  </body>

  </html>
