<ion-view title="Request Event">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
          <label class="item item-input item-select">
            <span class="input-label">Select Organization</span>
              <select>
                <option selected> None </option>
                <option>Bike Santa Cruz</option>
                <option>Coastal WaterShed</option>
                <option>California Rural Legal Assistance, Inc.</option>
                <option>Day Worker's Center</option>
              </select>
        </label>
            <label class="item item-select">
                <span class="input-label">Select Event Type</span>
                <select>
                    <option>Social</option>
                    <option>Meeting</option>
                    <option>Fundraiser</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Type here">
            </label>
            <label class="item item-select">
                <span class="input-label">Select Date</span>
                <select></select>
            </label>
        </form>
        <button class="button button-royal button-block ">Submit Request</button>
    </ion-content>
</ion-view>
