<ion-view title="🔍 Search">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/ke9YzmHhRI6WzK9vIFcE_tumblr_nskwygXD5L1t8mwkfo5_1280.jpg) no-repeat center;" class="has-header">
        <form class="list">
            <div class="button-bar"></div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for non-profits">
            </label>
            <a href="#/nearby" class="button button-calm button-block ">Show Nearby</a>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Org Name</h2>
                <p>Location
                    <br style="color:blue">
                    <i>description</i>
                    <br>
                </p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Org Name</h2>
                <p>Location
                    <br style="color:blue">
                    <i>description</i>
                    <br>
                </p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>